@model BugSmear.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @*<a href="/ProjectUsers/AssignUsers/@Model.Id">Assign Users</a> |*@
    @*<a href="/ProjectUsers/RemoveUsers/@Model.Id">Remove Users</a> |*@
    <a href="/ProjectUsers/AssignRemoveUsers/@Model.Id">AssignRemove Users</a> |
    @Html.ActionLink("Back to List", "Index")
</p>
<h4>Users assigned to this Project </h4>

@foreach (var u in Model.ApplicationUsers)
{
    @Html.DisplayFor(modelItem => u.Email) <br />
}
<br />
