@model BugSmear.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Project.ProjectName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Project.ProjectName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TicketPriority.Priority)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketPriority.Priority)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TicketStatus.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketStatus.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TicketType.Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketType.Type)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Created)*@
                    @if (Model.Created != null)
                    { @Model.Created.Date.ToShortDateString()}
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Updated)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Updated)*@
                    @if (Model.Updated != null)
                    { @Model.Updated.Value.Date.ToShortDateString()}
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OwnerUser)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OwnerUser.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AssignedToUser)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssignedToUser.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EstHours)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EstHours)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DueDate)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.DueDate)*@
                    @if (Model.DueDate != null)
                    { @Model.DueDate.Value.Date.ToShortDateString()}
                </dd>

            </dl>
        </div>
        <div class="col-md-6">
            @foreach (var ta in Model.TicketAttachments)
            {
               <img class="img-responsive" src="@ta.FileUrl" />
            }
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>





<div class="row">
    <!-- New Comment Form -->
    <form role="form" method="post" action="@Url.Action("CreateComment","Tickets")">
        @Html.AntiForgeryToken()
        <div class="col-lg-7">
            <h4>Leave a Comment:</h4>
            <div class="form-group">
                <textarea name="Comment" class="form-control" rows="3"></textarea>
                <input type="hidden" name="TicketId" id="TicketId" value="@Model.Id" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        @if (this.User.IsInRole("Developer") || this.User.IsInRole("Project Manager"))
        {
            <div class="col-lg-3">
                <p>Actual Hours: <input name="Hours" id="Hours" /></p>
                <p>Estimated Percent Complete: <input name="PercentComplete" id="PercentComplete" /></p>
            </div>
        }
    </form>
</div>

@foreach (var comment in Model.TicketComments)
{
            <!-- Comment Content -->
    <hr>
    <div class="row">
        <div class="col-lg-7">
            By: @Html.DisplayFor(model => comment.User.UserName) on @Html.DisplayFor(model => comment.Created)
            <p>@Html.Raw(comment.Comment)</p>
        </div>
        <div class="col-lg-3">
            <p>Actual Hours: @Html.DisplayFor(model => comment.Hours)</p>
            <p>Est Pct Complete: @Html.DisplayFor(model => comment.PercentComplete)</p>
        </div>

        @if (this.User.IsInRole("Administrator") || this.User.IsInRole("Project Manager"))
        {

            <div class="col-lg-2">
                <button>@Html.ActionLink("Edit", "EditComment", new { id = comment.Id }) </button>
                <button>@Html.ActionLink("Delete", "DeleteComment", new { id = comment.Id })</button>
            </div>
        }
    </div>
}