@model IEnumerable<BugSmear.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Email)     </th>
        <th>@Html.DisplayNameFor(model => model.UserName)  </th>
        <th></th>
    </tr>

    @foreach (var u in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => u.Email)        </td>
            <td>@Html.DisplayFor(modelItem => u.UserName)     </td>
            <td>
                @if (this.User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Edit", "EditUser", new { id=u.Id }) 
                }
                else
                {
                    @Html.ActionLink("View Details", "EditUser", new { id = u.Id })
                }
            </td>
        </tr>
    }
</table>
